{%- extends "base.html" -%}
{% block content %}
<div class="col-md-6 m-auto">
    <h3 style="text-align: center;">Editar Jogo</h3>
    <!-- Formulário para editar o jogo -->
     <form action="" method="post">
        <input type="text" name="titulo" placeholder="Título do jogo" class="form-control" value="{{game.titulo}}" required>
            <input type="number" name="ano" placeholder="Ano de lançamento" class="form-control" value="{{game.ano}}" required>
            <input type="text" name="categoria" placeholder="Categoria do jogo" class="form-control" value="{{game.categoria}}" required>
            <input type="text" name="plataforma" placeholder="Plataforma do jogo" class="form-control" value="{{game.plataforma}}" required>
            <input type="number" step="0.01" name="preco" placeholder="Preço do jogo" class="form-control" value="{{game.preco}}" required>
            <input type="number" name="quantidade" placeholder="Quantidade em estoque" class="form-control" value="{{game.quantidade}}" required>
            <!-- botões -->
            <br>
            <input type="submit" value="Atualizar" class="btn btn-primary mt-2">
            <input type="submit" value="Limpar" class="btn btn-secondary mt-2" onclick="this.form.reset(); return false;">
        </form>
</div>

{% endblock content %}